<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
     <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
     <add key="HRIS.Nuget" value="https://knightfrank.pkgs.visualstudio.com/368eb426-6f70-4804-a30c-fa69658b5210/_packaging/HRIS.Nuget/nuget/v3/index.json" />
  </packageSources>
</configuration>